<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frontend</title>
    <style>
        body {
            background-color: black;
            color: yellowgreen;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>Hello From the Frontend</h1>
    <h2><%= data %></h2>
</body>
</html>